*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: #f1f1f1;
}

[role=banner] {
  text-align: center;
  background: palette(blue);

  @include bp($bp-grid-columns) {
    text-align: left;
  }

  .row {
    padding: 25px 0;
  }

  h1 {
    margin-bottom: 20px;

    @include bp($bp-grid-columns) {
      margin-bottom: 0;
    }
  }
}

.stats {
  text-align: center;

  @include bp($bp-grid-columns) {
    float: right;
    text-align: left;
  }

  li {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 12px;
    font-family: $heading-font;
    font-size: 24px;

    @include bp($bp-grid-columns) {
      margin-bottom: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &:before {
      @extend .icon;
      position: relative;
      top: 0;
      left: -8px;
      font-size: 20px;
    }
  }

  .wins:before {
    content: map-get($icons, trophy);
  }

  .loses:before {
    content: map-get($icons, cross);
    font-size: 17px;
  }

  .streak:before {
    content: map-get($icons, fire);
  }
}

button.insert-coins {
  padding: 15px 30px;
  font-size: 50px;
  font-family: $heading-font;
  text-align: center;

  @include bp($bp-grid-columns) {
    padding: 15px 30px 15px 71px;
    font-size: 60px;

    &:before {
      position: absolute;
      top: 14px;
      left: 35px;
      display: block;
      width: 12px;
      height: 76px;
      content: '';
      background: #333;
      @include transition(all 0.3s ease);
    }
  }

  &:hover, &:active, &.current {
    top: 6px;

    @include bp($bp-grid-columns) {
      &:before {
        background: #515151;
      }
    }
  }
}

.word {
  text-align: center;

  li {
    display: inline-block;
    margin: 0 15px;
    padding: 20px;
    font-size: 35px;
    font-family: $heading-font;
    text-align: center;
    background: palette(purple);
    @include transition(all 1s ease);
  }

  .pending {
    opacity: 0.5;
    color: palette(purple);
  }

  .guessed {
    opacity: 1;
    color: #fff;
  }
}

.alphabet {
  li {
    display: inline-block;
    width: 38px;
    margin: 0 10px 10px;
    padding: 8px 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background: palette(green);
    cursor: pointer;

    &:hover, &:active {
      background: palette(green, mid);
    }
  }
}

footer {
  padding: 18px 0;
  font-size: 15px;
  line-height: 1.8;
  border-top: 10px solid palette(blue);
  border-left: 10px solid palette(blue);

  p {
    margin: 0;
  }

  .half {
    margin-bottom: 20px;

    @include bp($bp-grid-columns) {
      margin-bottom: 0;
    }
  }

  [data-text-align='right'] {
    text-align: left;

    @include bp($bp-grid-columns) {
      text-align: right;
    }
  }
}

.disabled {
  opacity: 0.2;
}

/* Helper Classes */
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-left, [data-text-align='left'] {
  text-align: left;
}

.text-right, [data-text-align='right'] {
  text-align: right;
}

.text-center, [data-text-align='center'] {
  text-align: center;
}

.cf {
  @include clearfix();
}

.show {
  display: block;
}

/* Hide from browsers */
.hide, [hidden] {
  display: none;
}

/* Hide from browsers & screenreaders */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide from browsers, available to screenreaders */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide from browsers & screenreaders, maintain layout */
.invisible {
  visibility: hidden;
}

/* The Kellum Method */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Clearfix: contain floats */
.cf {
  @include clearfix();
}

::-moz-selection {
  background: #62aaf2;
  color:#fff;
  text-shadow: none;
}

::selection {
  background:#62aaf2;
  color:#fff;
  text-shadow: none;
}
