#hangbot {
  width: 300px;
}

$svg_elements: leg_left leg_right arm_left arm_right torso gallow_base gallow_pole gallow_corner gallow_rope head eye_right eye_left eye_right_alive eye_left_alive face_mouth;

@each $svg_element in $svg_elements {
  ##{$svg_element} {
    opacity: 0;
  }
}

@include keyframes(head-animation) {
  0% {
    @include transform(translate(0, 0) rotate(0deg));
  }
  25% {
    @include transform(translate(3px, 0) rotate(3deg));
  }
  50% {
    @include transform(translate(0, 0) rotate(0deg));
  }
  75% {
    @include transform(translate(-3px, 0) rotate(-3deg));
  }
  100% {
    @include transform(translate(0, 0) rotate(0deg));
  }
}

@include keyframes(game-over-animation) {
  0% {
    @include transform(translate(0, 0));
  }
  25% {
    @include transform(translate(-5px, 0));
  }
  50% {
    @include transform(translate(0, 0));
  }
  75% {
    @include transform(translate(4px, 0));
  }
  100% {
    @include transform(translate(0, 0));
  }
}

.welcome, .win-screen {
  #leg_left, #leg_right, #arm_left, #arm_right, #torso, #head, #eye_right_alive, #eye_left_alive, #face_mouth {
    opacity: 1;
  }

  #head {
    @include animation(head-animation 3.5s linear infinite);
    transform-origin: 50% 50%;
  }

  #face_mouth {
   @include translate(11px, 0);
  }

  #face_mouth_two {
    @include translate(5px, 10px);
  }

  #face_mouth_three {
    @include translate(5px, 10px);
  }
}

.hangman-state-9 #gallow_base {
  opacity: 1;
  @include transition(all 1s ease);
}

.hangman-state-8 {
  #gallow_base, #gallow_pole, #gallow_corner {
    opacity: 1;
    @include transition(all 1s ease);
  }
}

.hangman-state-7 {
  #gallow_base, #gallow_pole, #gallow_corner, #gallow_rope {
    opacity: 1;
    @include transition(all 1s ease);
  }
}

.hangman-state-6 {
  #gallow_base, #gallow_pole, #gallow_corner, #gallow_rope, #head {
    opacity: 1;
    @include transition(all 1s ease);
  }
}

.hangman-state-5 {
  #gallow_base, #gallow_pole, #gallow_corner, #gallow_rope, #head, #torso {
    opacity: 1;
    @include transition(all 1s ease);
  }
}

.hangman-state-4 {
  #gallow_base, #gallow_pole, #gallow_corner, #gallow_rope, #head, #torso, #arm_left {
    opacity: 1;
    @include transition(all 1s ease);
  }
}

.hangman-state-3 {
  #gallow_base, #gallow_pole, #gallow_corner, #gallow_rope, #head, #torso, #arm_left, #arm_right {
    opacity: 1;
    @include transition(all 1s ease);
  }
}

.hangman-state-2 {
  #gallow_base, #gallow_pole, #gallow_corner, #gallow_rope, #head, #torso, #arm_left, #arm_right, #leg_left {
    opacity: 1;
    @include transition(all 1s ease);
  }
}

.hangman-state-1 {
  #gallow_base, #gallow_pole, #gallow_corner, #gallow_rope, #head, #torso, #arm_left, #arm_right, #leg_left, #leg_right {
    opacity: 1;
    @include transition(all 1s ease);
  }
}

.hangman-state-0 {
  #gallow_base, #gallow_pole, #gallow_corner, #gallow_rope, #head, #torso, #arm_left, #arm_right, #leg_left, #leg_right, #eye_left, #eye_right, #face_mouth {
    opacity: 1;
    @include transition(all 1s ease);
  }

  #head, #torso, #arm_left, #arm_right, #leg_left, #leg_right {
    @include animation(game-over-animation 3s linear infinite);
    transform-origin: 50% 50%;
  }
}
