@font-face {
    font-family: 'silkscreennormal';
    src: url('../../fonts/slkscr-webfont.eot');
    src: url('../../fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/slkscr-webfont.woff') format('woff'),
         url('../../fonts/slkscr-webfont.ttf') format('truetype'),
         url('../../fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/icomoon.eot');
  src: url('../../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.woff') format('woff'),
    url('../../fonts/icomoon.ttf') format('truetype'),
    url('../../fonts/icomoon.svg#icomoon') format('svg');
}

html, body {
  font-size: 20px;
  font-family: $body-font;
  font-style: normal;
  font-weight: normal;
  color: palette(black);
}

h1, .h1 {
  margin: 0;
  color: #fff;
  font-size: 55px;
  font-family: $heading-font;
}

p, ul, ol, blockquote {
  margin: 0 0 $paragraph-margin;
}

a {
  color: palette(green);
  text-decoration: none;
  @include transition(all 0.5s ease);

  &:hover, &:active {
    color: palette(green, dark);
  }
}

.button, button {
  position: relative;
  top: 0;
  padding: 15px 35px;
  border: 0;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  background: palette(green);
  box-shadow: 0px 12px palette(green, mid);
  border-radius: 12px;
  @include transition(all 0.3s ease);

  span {
    display: block;
    font-size: 18px;
    text-transform: none;
  }

  &:hover, &:active, &.current {
    box-shadow: 0px 6px palette(green, mid);
  }
}

ul.styleless {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  font-family: $icon-font;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
